<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/thiep.jpg" width="900"  alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Riz au poisson </ion-card-subtitle>
      <ion-card-title class="ionic-align-center">le plat préfère des senegalais </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/thiep_ginar.jpg"  width="900"  alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Riz au poulet </ion-card-subtitle>
      <ion-card-title class="ionic-align-center"> un bon plat pour les sérères </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/yassa.jpg" width="900"  alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Yassa</ion-card-subtitle>
      <ion-card-title class="ionic-align-center"> Avec tous les ingrédients de dans </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>

  </ion-card>

  <ion-card class="welcome-card">
    <img src="/assets/paella.jpg" width="900"  alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Pella</ion-card-subtitle>
      <ion-card-title class="ionic-align-center">C'est bon et très délicieux </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>

  </ion-card>


</ion-content>
